* {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.li-generator-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 3px solid black;
  padding: 2rem;
  border-radius: 0.5rem;
  gap: 2rem;
  width: 75%;
  margin: 5rem 0;
}

.li-generator-container__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.li-generator-container__form > input {
  margin-left: 1rem;
}

@media all and (max-width: 500px) {
  .li-generator-container {
    width: 90%;
  }

  .li-generator-container__form {
    gap: 1rem;
  }

  .li-generator-container__form > button {
    width: 80%;
  }
}

@media all and (max-width: 360px) {
  .li-generator-container__form {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .li-generator-container__form > input {
    margin-left: 0;
  }
}
